* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    height: 69px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-left: 10px;
}

.img-logo {
    height: 50px;
}

.menu {
    position: absolute;
    right: 0px;
    display: inline-flex;
    margin-right: 10px;
    width: 400px;
    justify-content: space-between;
    text-decoration: underline;
    font-size: 22px;
}

.main-back {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-image: url('./resources/img-mission-background.jpeg');
    display: flex;
    align-items: center;
}

.mission-stmt {
    width: 100%;
}

.mission-stmt h4, .teaOfTheMonth h2 {
    font-size: 1em;
}

.mission-stmt h2, .teaOfTheMonth h1 {
    font-size: 1.5em;
}

.gallery-main {
    width: 1000px;
    display: inline-flex;
    justify-content: center;
    font-size: 18px;
    flex-wrap: wrap;
}

.img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.img-box img {
    width: 300px;
    height: 200px;
}

.locations-main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.locations {
    background-image: url("./resources/img-locations-background.jpeg");
    width:1200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loc-title-main, .loc-title-main p {
    font-size: 30px;
    font-weight: bold;
    background: none;

}

.addr-boxes {
    display: inline-flex;
    justify-content: center;
    background: none;
}

.addr-box {
    margin-left: 20px;
    width: 300px;
    opacity: 1;
}

.addr-box p {
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    background: none;
    opacity: 1;
}

.addr-title {
    font-size: 22px;
    font-weight: bold;
}

.contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-title {
    font-size: 30px;
    font-weight: bold;
}

.contact-email, .contact-number {
    font-size: 18px;
}

.copy {
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
}
